@model Education.BLL.DTO.Forum.ThemeDTO

@{
    var paging = await Component.InvokeAsync("Paging", new { url = "/Theme/Index/" + Model.Id + "/", page = Model.CurPage, pages = Model.Pages });
}

<div class="Navigation">
    @await Component.InvokeAsync("Navigation", Model)
</div>
<div class="Theme">
    @foreach (var message in Model.Messages)
    {
        var id = new { id = message.Id };
        <div class="Message">
            <div class="Info">
                <div class="Name">@message.Owner.Name</div>
                <img class="Avatar" src="@message.Owner.AvatarPath" />
            </div>
            <div class="Body">
                <div class="MessageTime">
                    @message.Time
                </div>
                @if (message == Model.Messages.First())
                {
                    <div class="Text">@Html.Raw(message.Text)</div>
                    @if (Model.Access.CanUpdate)
                    {
                        <div class="Edit">
                            @Html.ActionLink("Редактировать", "Control", "Theme", new { id = Model.Id })
                        </div>
                    }
                }
                else
                {
                    <div class="Text">@message.Text</div>
                    @if (message.LastEditor != null)
                    {
                        <div class="Edited">Изменено: @message.LastEditor.Name, @message.LastEditTime</div>
                    }
                    @if (message.Access.CanUpdate)
                    {
                        <div class="Edit">
                            @Html.ActionLink("Редактировать", "Control", "Message", id)
                        </div>
                    }

                }
            </div>
        </div>
    }

    @paging
    @if (Model.Access.CanCreateElements)
    {
        <div class="AddMessage">
            <form method="post" action="/Message/Create/">
                <input type="hidden" name="themeId" value="@Model.Id" />
                <textarea class="Text" name="Text"></textarea>
                <input type="submit" value="Отправить Сообщение" />
            </form>
        </div>
    }
</div>
