@model Education.BLL.DTO.Forum.GroupDTO

@{ 
    var id = new { id = Model.Id };
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Группа @Model.Name</title>
</head>

<div class="Navigation">
    @await Component.InvokeAsync("Navigation", Model)
</div>
<div class="Description">
    <div class="Name">
        @Html.ActionLink("Группа " + Model.Name, "Index", "Group", id)
    </div>
    <div class="Edit">
        @if (Model.Access.CanUpdate)
        {
            @Html.ActionLink("Редактировать", "Control", "Group", id)
        }
        @if (Model.Access.CanControlUsers)
        {
            @Html.ActionLink("Пользователи", "Users", "Group", id)
        }
        @if (Model.Access.CanCreateElements)
        {
            @Html.ActionLink("Добавить секцию", "Add", "Section", id)
        }
    </div>
</div>
<div class="Sections">
    @foreach (var section in Model.Sections)
    {
        @Html.Partial("~/Views/Section/View.cshtml", section)
    }
</div>
