@model Education.BLL.DTO.Forum.SectionDTO
@{ 
    var id = new { id = Model.Id };
}
<div class="Section">
    <div class="Description">
        <div class="Name">
            @Html.ActionLink(Model.Name, "Index", "Section", id)
        </div>
        <div class="Edit">
            <strong>
                @if (Model.Access.CanUpdate)
                {
                    @Html.ActionLink("Редактировать", "Control", "Section", id)
                }
                @if (Model.Access.CanCreateElements)
                {
                    @Html.ActionLink("Создать тему", "Add", "Theme", id)
                }
            </strong>
        </div>
    </div>
    <div class="Body">  
            @foreach (var theme in Model.Themes)
            {
                <div class="ThemePreview">
                    <a href="/Theme/Index/@theme.Id" class="ThemeInfo">
                        <div class="Name">@theme.Name</div>
                        <div class="Owner">Создал: @theme.Owner.Name</div>
                        <div class="Pages">Страниц: @theme.Pages</div>
                    </a>

                    <div class="LastMessage">
                        <strong><a href="/Theme/Index/@theme.Id/@theme.Pages">Последнее сообщение:</a></strong>
                        <div class="Owner">@theme.LastMessages.Owner.Name</div>
                        <div class="Time"> @theme.LastMessages.Time</div>
                    </div>
                </div>
            }
    </div>
</div>